{% macro render(form, width="span3") -%}
<fieldset>
{% for field in form %}
{{ form.hidden_tag() }}
{% if field.type != 'CSRFTokenField' %}
  <div class="clearfix {% if field.errors %}error{% endif %}">
    {{ field.label }}
    <div class="input">
      {% if field.name == "source" %}
        {{ field(rows=20, class_=width) }}
      {% else %}
        {{ field(class_=width) }}
      {% endif %}
      {% if field.errors or field.help_text %}
        <span class="help-block">
        {% if field.errors %}
          {{ field.errors|join(' ') }}
        {% else %}
          {{ field.help_text }}
        {% endif %}
        </span>
      {% endif %}
    </div>
  </div>
{% endif %}
{% endfor %}
</fieldset>
{% endmacro %}
