{% extends "base.html" %}
{% import "_forms.html" as forms %}

{% block page_header %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span4 offset4">
      <div class="page-header">
        <h1>Add an App</h1>
      </div>
        <form action={{ url_for('.addexpapp', username=g.username) }} method="post" class="well">
          {{ forms.render(form) }}
          <div class="actions">
            <input type="submit" class="btn btn-primary" value="Submit">
          </div>
        </form>
    </div>
  </div>
{% endblock %}
