{% extends "base.html" %}

{% block page_header %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h1>{%- if g.context['username'] == g.username -%}Your apps <a class="btn btn-primary btn-large pull-right" href={{ url_for('addexpapp') }}>Add an app</a>{%- else -%}{{ g.context['username'] }}'s apps{%- endif -%}</h1>
      </div>
      {% set expapps = g.db.ExpApp.objects(owners=g.context['user']) %}
      {% if expapps.count() == 0 %}
      <p>{%- if g.context['username'] == g.username -%}You haven't{%- else -%}{{ g.context.username }} hasn't{%- endif %} created any apps yet.</p>
      {% else %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Numer of results</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for expapp in expapps %}
          <tr>
            <td>{{ expapp.ea_id }}</td>
            <td>{{ expapp.description }}</td>
            <td>{{ expapp.results|length }}</td>
            <td><a class="btn btn-small pull-right" href={{ url_for('user.exploreexpapp', username=g.username, ea_id=expapp.ea_id) }}>Explore app</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
{% endblock %}
